@import '../node_modules/normalize.css/normalize';
@import './colors.scss';
@import './details.scss';
@import './variables.scss';


body {
  max-width: 100%;
  font-family: $myFont;
  margin: 8px 8px 0 8px;
}

* {
box-sizing: border-box
}

#eingang {
  background-color: transparent;
  box-shadow: inset 0 1px 8px #999;
  border: none;
  border-radius: 5px;
  color: $color-title;
  font-family: $myFont;
  font-size: 1.4em;
  display: block;
  height: 45px;
  padding: 15px;
  position: relative;
  width: 88%;
  float: left;
  padding-right: 45px;
}

.fa-search {
  color: lightgrey;
  display: block;
  font-size: 1.5em;
  position: absolute;
  right: 60px;
  top: 16px;
}

#addButton {
  border-radius: 5px;
  font-size: 1.3em;
  height: 45px;
  float: right;
  border-color: transparent;
  color: white;
  width: 10%;
  margin-bottom: 5px;
  box-shadow: inset 1px 0 150px #A8A890;
}

.content_arrow {
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 1px 0 150px $color-lightblue;
  color: grey;
  display: flex;
  font-size: 1.2em;
  height: 30px;
  justify-content: center;
  position: relative;
  clear: both;
}

.task {
  border-radius: 5px;
  box-shadow: inset 1px 0 150px #A8A890;
  height: 60px;
  margin-bottom: 2px;
  position: relative;

  .fa-clock-o,
  .fa-tag {
    color: white;
    font-size: 25px;
    float: right;
    padding: 25px 10px 0 0;
  }

  h2 {
    bottom: 10px;
    border: none;
    color: $color-title;
    font-size: 1.5em;
    margin: 0;
    position: absolute;
    padding-left: 15px;
  }
}

a {
  color: white;
}
